<nav class="nav">
    <div>
        <a href="/"><img src="/img/logo-sm.png" /></a>
        <h2 class="nav__heading">JavaJoint</h2>
    </div>
    <ul class="nav__link-list">
        <% if(role==="manager") { %>
            <li class="link-list__item nav-dropdown">
                <a class="nav__link">Ingredients</a>
                <ul class="nav-dropdown__content">
                    <li class="link-list__item link-list__item--nested"><a class="nav__link nav__link--nested" href="/manager/ingredients" >Ingredients</a></li>
                    <li class="link-list__item link-list__item--nested"><a class="nav__link nav__link--nested" href="/manager/add-ingredient" >Add Ingredient</a></li>
                </ul>
            </li>
            <li class="link-list__item nav-dropdown">
                <a class="nav__link">Items</a>
                <ul class="nav-dropdown__content">
                    <li class="link-list__item link-list__item--nested"><a href="/manager/items" class="nav__link nav__link--nested">Items</a></li>
                    <li class="link-list__item link-list__item--nested"><a href="/manager/add-item" class="nav__link nav__link--nested">Add Menu Item</a></li>
                </ul>
            </li>
            <li class="link-list__item nav-dropdown">
                <a class="nav__link">Menus</a>
                <ul class="nav-dropdown__content">
                    <li class="link-list__item link-list__item--nested"><a href="/manager/menus" class="nav__link nav__link--nested">Menus</a></li>
                    <li class="link-list__item link-list__item--nested"><a href="/manager/add-menu" class="nav__link nav__link--nested">Add Menu</a></li>
                </ul>
            </li>
        <% } %>
        <% if(role==="guest") { %>
            <% if(authenticated) { %>
                <li class="link-list__item"><a class="nav__link">Menu</a></li>
                <li class="link-list__item"><a class="nav__link">Bill</a></li>
                <li class="link-list__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="link-list__item link-list__item--btn" type="submit">Logout</button>
                    </form>
                </li>
            <% } else { %>
                <li class="link-list__item"><a class="nav__link" href="/login">Login</a></li>
                <li class="link-list__item"><a class="nav__link" href="/signup">Sign Up</a></li>
            <% } %>
        <% } %>
    </ul>
</nav>