<%- include('../shared/head.ejs') %>
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/manager.css">
<link rel="stylesheet" href="/css/guest.css">
</head>
<body class="body">
<%- include('../shared/nav.ejs') %>
<main>

</main>
<%- include('../shared/end.ejs') %>
