    <%- include('../shared/head.ejs') %>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/guest.css">
</head>
<body>
    <%- include('../shared/nav.ejs') %>
    <main>
        <h2><%= docTitle %></h2>
    </main>

<%- include('../shared/end.ejs') %>