@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url('../img/home-background.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.body--menus {
    background-image: linear-gradient(rgba(15, 13, 13, 0.7),rgba(7, 7, 7, 0.7)), url('../img/menu-background2.jpg');
    background-size: cover;
    width: 100%;
}

main {
    height: 100%;
    overflow: auto;
}

:root{
    --brown: #a0522d;
    --cream: #fdfdfc;
    --mid: #dabbad;
    --sky: #e7f0f3;
    --lightOrange: rgb(240, 200, 125);
}

.flash-message {
    margin: auto;
    width: 100%;
    background-color: var(--brown);
    padding: 1rem;
    border-radius: 3px;
    text-align: center;
}

.flash-message--error {
    background-color: var(--lightOrange);
    color: var(--brown);
    font-weight: 500;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--brown);
}

@media (max-width: 768px) {
    .body {
        overflow: scroll;
    }
    
    main {
        overflow: visible;
    }
}

