/***** reusable *****/

.btn {
    border: none;
    font-family: inherit;
    background-color: var(--cream);
    color: var(--brown);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 100%;
}

.btn:hover {
    background-color: var(--mid);
    color: black;
    transition-duration: .5s;
}

.form__label {
    text-align: left;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: 400;
}

.disabled {
    background-color: var(--sky);
}

.alert-text {
    background-color: var(--lightOrange);
    text-align: center;
    margin-bottom: 10px;
    padding: 3px 0;
}

.alert-input {
    background-color: var(--lightOrange);
}
/***** add/edit forms *****/

.form-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-item__form {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form__input,
.form__textarea,
.form__select,
.form__cost {
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #a0512d71;
    padding-left: 5px;
    outline: none;
}

.input--invalid {
    background-color: rgba(240, 200, 125, 0.5);
    border: 1px solid orange;
}

.form__textarea {
    height: auto;
}

.form__select,
.form__cost {
    width: 90%;
}

.food-cost__container,
.ingredients__container,
.items__container {
    width: 50%;
}

.food-cost,
.ingredient__select,
.item__select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group__cost,
.form-group__select {
    width: 80%;
}

.form-group__percent,
.form-group__qty {
    width: 15%;
}

.form-group__btn {
    width: 20%;
    margin-top: auto;
}

.form__input--percent,
.form__input--qty {
    width: 100%;
}

.select--item {
    width: 100%;
}

.btn__add-row {
    outline: none;
    border: none;
    background-color: inherit;
    margin-top: 20px;
    cursor: pointer;
}

.btn--submit {
    margin-top: 20px;
    margin-bottom: 50px;
}

/***** ingredients/items *****/

.ingredients,
.items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
}

.container {
    padding: 10px 5px 0 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--cream);
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin: 2%;
}

.image-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container__title,
.recipe__item {
    text-align: center;
    margin-top: 10px;
}

.container__category {
    display: flex;
    justify-content: center;
}

.container__category p {
    font-size: .9rem;
    color: var(--brown);
}

.container__price {
    text-align: center;
    margin: 10px 0;
}

.btns__container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

/***** ingredients *****/

.container--ing {
    width: 15%;
}

.image-container--ing {
    height: 150px;
}

.ing__image {
    max-height: 150px;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.btn--ing {
    text-decoration: none;
    font-size: 100%;
}

.image-input__container {
    position: relative;
    width: 50%;
  }
  
.image__input {
display: none;
}

  
.image--name {
display: flex;
align-items: center;
background-color: #FFFFFF;
width: 100%;
height: 40px;
border-radius: 5px;
box-shadow: 2px 2px 2px 2px #a0512d71;
padding-left: 5px;
}
  
.upload-button {
background: var(--brown);
height: 40px;
display: flex;
align-items: center;
position: absolute;
top: 0px;
right: 0px;
cursor: pointer;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.upload-button i {
color: #FFFFFF;
padding: 5px 10px;
}

/***** items *****/
.container--item {
    width: 30%;
}

.image-container--item {
    height: 250px;
    display: flex;
    justify-content: center;
}

.item__image {
    max-height: 250px;
}

.container__recipe-list {
    height: 150px;
    list-style: none;
}

.recipe-list__item {
    text-align: center;
}

.btns__container--item {
    justify-content: center;
}

.btn--item {
    text-decoration: none;
    font-size: 100%;
    padding: 10px 30px;
    margin: 0 15px;
}

/***** menus *****/
.form__select--menu {
    width: 80%;
    margin-right: 20px;
}

.get-menu__form,
.menu-schedule__form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-container {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu__item {
    display: flex;
    color: white;
    width: 90%;
    margin: 10px 0;
}

.form-group__radio {
    display: flex;
    width: 50%;
    margin-top: 10px;
    align-items:baseline;
}

.form-group__radio input {
    margin-right: 10px;
    vertical-align:middle;
}

.menu-item__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.menu-item__content {
    width: 80%;
}

.reorder-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.sort-btn {
    font-size: 175%;
    cursor: pointer;
}

.btn--menu-edit {
    text-decoration: none;
}

.btn--menu-order {
    margin-left: 20px;
    margin-bottom: 30px;
}

.btn--menu-order.disabled:hover {
    background-color: var(--sky);
    color: var(--brown);
    cursor: not-allowed;
}

.menu-item__delete {
    height: 40px;
    padding-top: 25px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    background-color: inherit;
}

.delete-icon {
    font-size: 200%;
    color: var(--brown);
}

.menu-schedule__form {
    flex-direction: column;
}

.menu__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.time-select__container {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.form-group__select--menu-schedule {
    width: 50%;
}

.form-group__select--menu-schedule .form__label{
    width: 90%;
}

.form-group__select--menu-schedule:last-child {
    align-items: flex-end;
}

/***** categories *****/
.category-type__title {
    width: 50%;
    margin-left: 25%;
}

.category-type__title:first-child {
    margin-top: 2%;
}

.checkbox__container {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.label--checkbox {
    display: flex;
    align-items: center;
    width: fit-content;
}

.label--checkbox input {
    margin-right: 5px;
    height: 25px;
}

.container--cat {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
}

.container__title--cat {
    margin-top: 0;
    min-width: 30%;
    text-align: left;
}

.btns__container--cat {
    margin: 0 0 0 auto;
}

.btn--cat {
    text-decoration: none;
    margin: 5px;
}

.form__select--cat {
    width: 50%;
}

@media (max-width: 1140px) {
    .container--ing {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .add-item__form {
        width: 100%;
    }

    .get-menu__form {
        width: 90%;
    }

    .menu-container {
        width: 90%;
        margin-left: 5%;
    }

    .menu__item {
        width: 100%;
    }

    .menu-item__desc {
        font-size: 75%;
    }

    .form__input,
    .form__textarea,
    .form__select--cat {
        width: 75%;
    }

    .form__label {
        width: 75%;
    }

    .food-cost__container,
    .ingredients__container,
    .items__container,
    .checkbox__container,
    .menu-schedule__form {
        width: 75%;
    }

    .time-select__container {
        width: 100%;
    }

    .add-item__form .time-select__container {
        width: 75%;
    }

    .container {
        width: 80%;
    }

    .form-group__btn {
        width: 30%;
        margin-top: auto;
    }

    .ingredients,
    .items {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    .container__recipe-list {
        height: auto;
        list-style: none;
        margin-bottom: 10px;
    }

    .recipe-list__item {
        font-size: 75%;
        margin: 0;
    }

    .category-type__title {
        width: 90%;
        margin-left: 5%;
    }

    .container--cat {
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        align-items: flex-start;
    }
}
