.nav {
    padding: 1% 10% 1% 5%;
    display: flex;
    align-items: center;
    background-color: var(--cream);
}

.nav__heading {
    margin-left: 20px;
}

.nav__link-list {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.link-list__item {
    margin: 0 30px;
}

.link-list__item--btn {
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: var(--brown);
    cursor: pointer;
}

.link-list__item--nested {
    margin: 10px 5px 10px 10px;
}

.nav__link {
    font-size: 125%;
    text-decoration: none;
    color: inherit;
}

.nav__link--nested {
    font-size: 100%;
}


.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown__content {
    list-style: none;
    display: none;
    width: 150px;
    position: absolute;
    background-color: var(--cream);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 0;
    border-radius: 3px;
}

.nav-dropdown__content li {
    display: block;
}

.nav-dropdown:hover .nav-dropdown__content {display: block;}

.nav-dropdown__content li:hover {
    color: var(--brown);
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        padding-top: 10px;
    }

    .nav__link-list {
        display: flex;
        list-style: none;
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .link-list__item {
        margin: 0 10px;
    }

    .link-list__item--nested {
        margin: 10px 5px 10px 10px;
    }
    
    .nav__link {
        font-size: 100%;
        text-decoration: none;
        color: inherit;
    }
    
    .nav__link--nested {
        font-size: 75%;
    }
}