.nav {
    padding: 1% 10% 1% 5%;
    display: flex;
    align-items: center;
    background-color: var(--cream);
}

.nav__heading {
    margin-left: 20px;
}

.nav__link-list {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.link-list__item {
    margin: 0 30px;
}

.nav__link {
    font-size: 125%;
    text-decoration: none;
    color: inherit;
}